@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PENPAL</h1>
    <p class="lead">This is an application called Penpal. Hooray for learning and creating!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Penpal</h2>
        <p>
           The intention of this application is to have up to date contact information for my friends so that
            I can actually pick up a pencil and physically write them a letter and then put it in the mailbox.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Just what is this?</h2>
        <p>Essentially this is a contact list for my personal use allowing my friends to login and update their information.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Simplicity</h2>
        <p>I really just wanted something easy where I could store information and feel motivated to write them a card or letter.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>